.input:focus {
    border: 2px solid #000;
}

.label {
    margin: 0 0 8px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
}

.field:last-of-type{
    margin-right: 0;
}